<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
    body {
        margin: 0;
        height: 100vh;
        background: linear-gradient(to bottom, #003366, #2082c5); /* Gradiente do mais escuro para o mais claro */
    }

    .kanit-font {
        font-family: 'Kanit', sans-serif;
    }

    .custom-border {
        border: none;
        border-bottom: 1px solid #ced4da; /* Ajuste a cor conforme necessário */
        border-radius: 0;
        padding: 0.375rem 0.75rem;
        box-shadow: none; /* Remove a sombra padrão */
    }

</style>

<body style="background-color: #2082c5">
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card p-4" style="width: 22rem; height: 38rem">
        <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart4 mb-2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
            </svg>
        </div>
        <h1 class="card-title text-center mb-4 kanit-font">Premium</h1>
        <h3 class="card-title text-center" style="margin-top: -10px" >Cadastro</h3>
        <form th:action="@{/salvarUsuario}" method="post">
            <div class="form-group">
                <input type="text" class="form-control custom-border" name="username" id="nome" placeholder="Nome" required style="margin-bottom: 30px; margin-top: 35px">
            </div>
            <div class="form-group">
                <input type="password" class="form-control custom-border" name="password" id="senha" placeholder="Senha" required style="margin-bottom: 25px;">
            </div>
            <div class="form-group">
                <input type="email" class="form-control custom-border" name="email" id="email" placeholder="Email" required style="margin-bottom: 25px;">
            </div>
            <div class="form-check form-switch" style="margin-top: 19px">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="isAdmin">
                <label class="form-check-label" for="flexSwitchCheckDefault">Administrador</label>
            </div>
            <button type="submit" class="btn btn-block w-100 mt-4"
                    style="background-color: #2082c5; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;"
                    onmouseover="this.style.backgroundColor='#1e5d9e';"
                    onmouseout="this.style.backgroundColor='#2082c5';">
                Cadastra
            </button>
            <p style="font-size: 0.8em; text-align: center; margin-top: 10px">
                Já tem conta ? <a th:href="@{/login}" style="text-decoration: none;">Login</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>