<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
    body {
        margin: 0;
        height: 100vh;
        background: linear-gradient(to bottom, #003366, #2082c5); /* Gradiente do mais escuro para o mais claro */
    }

    .kanit-font {
        font-family: 'Kanit', sans-serif;
    }

    .custom-border {
        border: none;
        border-bottom: 1px solid #ced4da; /* Ajuste a cor conforme necessário */
        border-radius: 0;
        padding: 0.375rem 0.75rem;
        box-shadow: none; /* Remove a sombra padrão */
    }

</style>

<body style="background-color: #2082c5">
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card p-4" style="width: 22rem; height: 38rem">
        <div class="text-center">
            <img src="/static/img/Logo.png" alt="" style="width: 140px; height: 125px">
        </div>
        <h1 class="card-title text-center mb-4 kanit-font">Premium</h1>
        <h3 class="card-title text-center" style="margin-top: -10px" >Cadastro</h3>
        <form>
            <div class="form-group">
                <input type="email" class="form-control custom-border" id="nome" placeholder="Nome" required style="margin-bottom: 30px; margin-top: 35px">
            </div>
            <div class="form-group">
                <input type="email" class="form-control custom-border" id="email" placeholder="Email" required style="margin-bottom: 25px;">
            </div>
            <div class="form-group">
                <input type="email" class="form-control custom-border" id="senha" placeholder="Senha" required style="margin-bottom: 25px;">
            </div>
            <button type="submit" class="btn btn-block w-100 mt-4"
                    style="background-color: #2082c5; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;"
                    onmouseover="this.style.backgroundColor='#1e5d9e';"
                    onmouseout="this.style.backgroundColor='#2082c5';">
                Cadastra
            </button>
            <p style="font-size: 0.8em; text-align: center; margin-top: 10px">
                Já tem conta ? <a href="#" style="text-decoration: none;">Login</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>