<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Premium - Mercato</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
		<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>

		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			.alert {
				opacity: 1;
				transition: opacity 1s ease-out;
			}

			.alert.fade-out {
				opacity: 0;
			}
		</style>

    </head>

<body>
	<div th:insert="fragments/Header.html :: #cabecalho">
		<!-- Div Produtos-->
		<div class="cart-dropdown">
			<div class="cart-list">
				<div class="product-widget">
					<div class="product-img">
						<img src="./img/product01.png" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-name"><a href="#">product name goes here</a></h3>
						<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
					</div>
					<button class="delete"><i class="fa fa-close"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- Pesquisar-->
	<nav id="navigation">
		<div class="container">
			<div id="responsive-nav">
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a class="disabled">Home</a></li>
					<li><a th:href="@{/publico/carrinho}">Meu Carrinho</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="mensagem" th:if="${mensagem}" class="alert alert-info">
		<p th:text="${mensagem}"></p>
	</div>

		<!--- Barras em baixo da de pesquisa-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Cameras<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Produtos</h3>
						<div class="section-nav"></div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<div id="tab2" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-2">
									<div class="product" th:each="item : ${itens}">
										<div class="product-img">
											<img th:src="@{${item.imageUrl}}" alt="Imagem do Produto">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#" th:text="${item.nome}">Nome</a></h3>
											<h4 class="product-price" th:text="${item.preco}">Preço</h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
										<div class="add-to-cart">
											<a th:href="@{/publico/adicionarCarrinho/{id}(id=${item.id})}">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Adicionar ao Carrinho</button>
											</a>
										</div>
									</div>
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="fragments/Footer.html :: #footer"></div>

		<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var mensagemElement = document.getElementById('mensagem');
			if (mensagemElement) {
				setTimeout(function() {
					mensagemElement.classList.add('fade-out');
				}, 3000);
				setTimeout(function() {
					mensagemElement.style.display = 'none';
				}, 3500);
			}
		});
	</script>
</body>
</html>
